%h1
  Ooops, it looks like you're not allowed to do whatever it is you're trying to do.
%p
  You should head back to the 
  %a{:href => "/"} home page
  and start again.
  
%p
  Or have a coffee... coffee is nice. 